@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

body {
    min-height: 96vh;
    margin: 0;

    background-color: hsl(30, 54%, 90%);
    color: hsl(24, 5%, 18%);

    font-size: 16px;
    font-weight: 400;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-align: left;
    line-height: 150%;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    position: relative;
}

ul {
    line-height: 150%;
    margin-top: 10px;
    padding-left: 20px;
}

ol {
    line-height: 160%;
    margin-top: 10px;
    margin-bottom: 30px;
    padding-left: 20px;
 
}

ol > li::marker, ul > li::marker {
    color: hsl(14, 45%, 36%);
    font-weight: bold;
}

ul > li {
    padding: 5px 25px;
}

ol > li {
    margin: 10px 0;
    padding-left: 25px;
}

.black-list-markers li::marker {
    color: black;
    font-weight: 400;
}

hr {
    margin-bottom: 30px;
}

.outer-box {
    background-color: white;
    max-width: 700px;
    border-radius: 20px;
    padding-bottom: 30px;
    margin-bottom: 80px;
}

.text-area {
    padding: 0 30px;
}

.header-image {
    display: flex;
    justify-content: center;
}

.header-image img {
    width: 100%;
    min-width: 400px;
    overflow:hidden;
}

.text-area {

}
.main-heading {
    font-size: 35px;
    font-weight: 500;
    line-height: 100%;
}

.heading-font {
    font-family: "Young Serif", serif;
}

.tagline {
    font-size: 16px;
}

.preparation-time {
    background-color: hsl(330, 100%, 98%);
    border-radius: 10px;
    padding: 20px 24px;
    padding-bottom: 5px;
    margin: 30px 0;

}

.raspberry-heading {
    color: hsl(332, 51%, 32%);
    font-size: 20px;
    margin: 0;
}

.secondary-heading {
    color: hsl(14, 45%, 36%);
    font-size: 30px;
    font-weight: 400;
}

.nutritional-info-table {
    border-collapse: collapse;
    width: 100%;
}

.nutritional-info-table td {
    padding: 12px 0;
    padding-left: 25px;
    border-bottom: 1px solid grey;
}

.text-brown-strong {
    color: hsl(14, 45%, 36%);
    font-weight: bold;
}

.attribution { 
    font-size: 11px; 
    position: absolute;
    bottom: 1em;
}

.attribution a, .attribution a:visited { 
    color: black;
}

.attribution a:hover {
    color: hsl(14, 45%, 36%);
}


@media screen and (min-width: 768px){
    .outer-box { 
        margin: 20px;
        margin-bottom: 80px;
    }

    .header-image {
        padding-top: 30px;
    }
    
    .header-image img {
        width: 90%;
        border-radius: 10px;
    }